<p-toast></p-toast>
<p-card class="PersonRegisterCard">
  <i class="pi pi-arrow-left" (click)="clearBackList()">Volver</i>

  <h3 class="PersonTitle"><b>Registro de personas</b></h3>
  <hr />
  <div class="row">
    <div class="col">
      <form>
        <div class="grid p-fluid">
          <div class="row">
            <div class="col">
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-user"></i
                  ></span>
                  <input
                    type="text"
                    name="name"
                    [(ngModel)]="name"
                    pInputText
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <br />
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-users"></i
                  ></span>
                  <input
                    type="text"
                    name="lastName"
                    [(ngModel)]="lastName"
                    pInputText
                    placeholder="Apellido"
                  />
                </div>
              </div>
              <br />
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-id-card"></i
                  ></span>
                  <input
                    type="text"
                    name="identificationCard"
                    [(ngModel)]="identificationCard"
                    pInputText
                    placeholder="Cedula"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="col">
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-clock"></i
                  ></span>
                  <p-calendar
                    name="birthDate"
                    [(ngModel)]="birthDate"
                  ></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Guardar los cambios"
            class="p-button-primary"
            (click)="save()"
          ></button>
        </div>
      </form>
    </div>
  </div>
</p-card>
