<p-toast></p-toast>
<p-card class="PersonRegisterCard">
  <i class="pi pi-arrow-left" (click)="clearBackList()">{{ " " }} Volver</i>

  <h3 class="PersonTitle"><b>Registro de usuarios</b></h3>
  <hr />

  <i class="pi pi-search" (click)="searchPerson()">{{ " " }} Buscar persona</i>
  <hr />

  <div class="row">
    <div class="col">
      <form>
        <div class="grid p-fluid">
          <div class="row">
            <div class="col">
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-user"></i
                  ></span>
                  <input
                    disabled="true"
                    type="text"
                    name="name"
                    [(ngModel)]="name"
                    pInputText
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <br />
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-users"></i
                  ></span>
                  <input
                    disabled="true"
                    type="text"
                    name="lastName"
                    [(ngModel)]="lastName"
                    pInputText
                    placeholder="Apellido"
                  />
                </div>
              </div>
              <br />
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-id-card"></i
                  ></span>
                  <input
                    disabled="true"
                    type="text"
                    name="identificationCard"
                    [(ngModel)]="identificationCard"
                    pInputText
                    placeholder="Cedula"
                  />
                </div>
                <br />
              </div>
            </div>
            <div class="col">
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-whatsapp"></i
                  ></span>
                  <input
                    disabled="true"
                    type="text"
                    name="birthDate"
                    [(ngModel)]="birthDate"
                    pInputText
                    placeholder="Fecha Nacimiento"
                  />
                </div>
              </div>
              <br />
            </div>
          </div>
          <hr />
          <h3>Datos del usuario...</h3>
          <div class="row">
            <div class="col">
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-user"></i
                  ></span>
                  <input
                    type="text"
                    name="userName"
                    [(ngModel)]="userName"
                    pInputText
                    placeholder="Nombre de usuario"
                  />
                </div>
              </div>
              <br />
              <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"
                    ><i class="pi pi-user"></i
                  ></span>
                  <input
                    type="password"
                    name="password"
                    [(ngModel)]="password"
                    pInputText
                    placeholder="Contraseña"
                  />
                </div>
                <br />
              </div>
            </div>
            <hr />
            <button
              pButton
              pRipple
              type="submit"
              label="Guardar los cambios"
              class="p-button-primary"
              (click)="save()"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-card>
